<div class="container reminder-wrapper">
  <h4><%= link_to "reminders", reminders_path %> | <%= link_to "history", persons_path %></h4>
<% @reminders.each do |reminder| %>
    <% if current_user.id == reminder.user_id && reminder.when.change(hour:0) >= Time.now.change(hour:0) %>
      <div class="panel panel-body col-sm-6 single-reminder">
        <h3 class="reminder-text">
          <%= link_to reminder.person.name.capitalize + " has a " + reminder.reminder_type.event + " on " + reminder.when.strftime("%D"), person_path(reminder.person.id) %>
          <span class="delete"><%= link_to "x", reminder_path(reminder.id), method: :delete, data:{confirm:"are you sure?"}, class:"btn btn-danger btn-xs" %></span>
        </h3>
      </div>
  <% end %>
<% end %>

<!-- modal  -->

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create a Reminder</h4>
        </div>
        <div class="modal-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary col-xs-12 btn-lg" data-toggle="modal" data-target="#myModal">
      New Reminder
    </button>
  </div>
</div>
